.App-footer {
    display: flex;
    justify-content: space-around;
    padding: 8rem 3rem;
    background-color: #fdefe4;
}

.logo {
    padding: 2rem;
}

.about-us {
    display: flex
}

.about-us ul {
    padding: 2rem;
    list-style: none;
    color: #000;
}