* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  color: rgb(46, 89, 175);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  background: #fff;
  line-height: 2;
  color: #0053FF;
}
